.container{
    width: 390px;
    height: 450px;
    border: solid 5px;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 550px;
    
    background: rgb(137, 138, 139);
    
}

#output{
    width: 294px;
    height: 50px;
    border-left: solid 3px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: 0;
    background: rgb(205, 204, 204);
    pointer-events: none;
    margin-left: 35px;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

#output2{
    width: 20px;
    height: 50px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-right: solid 3px;
    border-left: 0;
    pointer-events: none;
    background: rgb(205, 204, 204);
    font-size: 40px;
    font-weight: bold;
    
}
.container-form2{
    padding-left: 335px;
    margin-top: -56.1px;
}
.btn{
    width: 48px;
    height: 48px;
    margin-top: 22px;
    margin-left: 37px;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(102, 108, 109);
}
#AllClear{
    width: 100px;
    margin-left: 119px;
}
#clear{
    width: 100px;
}
body{
    background: rgb(159, 159, 158);
}